/*Universal Selector
Disable global user-select
Smooth scroll added for better navigation scroll effect*/
*{
    scroll-behavior: smooth;
    user-select: none;
}
/*Remove all hyperlink style*/
a{
    text-decoration: none;
    color: var(--white-txtcolor);
}
/*Global variables*/
:root{
    --title-font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --gray-black-bgcolor: linear-gradient(#ADB1B1 , black);
    --gray-white-bgcolor:linear-gradient(#ADB1B1 , white);
    --white-txtcolor: white;
    --main-content-bgcolor: white;
    --transition: all 0.5s;}
body{
    width: 100%;
}
/*Header*/
/*Fixed position on the top of page
Highest z-index to make it always in front of other elements
Flex layout with 2 elements h1/nav inside*/
header{
    width: 100%;
    position: fixed;
    z-index: 3;
    display:flex;
    justify-content: space-between;
    background-image: var(--gray-black-bgcolor);
}
/*Header Main-Icon
Flex box #1 inside Header*/
header h1{
    flex: 1;
    font-family: var(--title-font);
    font-size: 2.5vw;
    padding: 0.5vw 0vw 0.5vw 2vw;
    
}
/*Header-icon click effect*/
header h1 a:active{
    color: black;
}
/*Header Navigation bar
Flex box #2 inside Header
Flex layout with nav button as elements*/
header nav{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
/*Flex elements for header nav
Hyperlink text-decro cleared*/
nav>a{
    flex: 1;
    text-align: center;
    font-family: var(--title-font);
    font-size: 1.5vw;
    padding: 1vw 0.5vw 0vw 0.5vw;
    border-radius: 10px;
    transition: var(--transition);
}
/*Navigation button :hover effect*/
nav a:hover{
    background-color: #ADB1B1;
    background-image: var(--gray-white-bgcolor);
    color:black;
}
/*Main background image below header
Fixed position
Lowest z-index so main content can scroll over it*/
figure{
    position: fixed;
    top:3vw;
    width: 100%;
    height: 95%;
    background-image: url(../images/filler.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    z-index: 1;
}

/*Main content
Flex layout with h2(header) and sections as elements
z-index set above figure and below header
*/
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
/*Main content header
Flex box element of main content
*/
main h2{
    padding-top: 18vw;
    padding-bottom: 27vw;
    text-align: center;
    font-family: var(--title-font);
    font-size: 5vw;
    flex: 1;
    color: white;
}
/*Main content section anker offset
Purpose to correctly position the sections when click on its correspondent navigation*/
main .anker-offset{
    position: relative;
    top: -3vw;
}
/*Main content section
Flex box element of main content
Flex layout contains section-title and section-content*/
main>section{
    padding-top: 1em;
    padding-right: 8em;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-content-bgcolor);
}
/*Main content section-title
Flex box element for main content section
*/
section .section-title{
    flex: 1;
    text-align: right;
    font-family: var(--title-font);
    border-right: 7px solid black;
    font-size: 2em;
    padding: 1em;
}
/*Main content section-content
Flex box element for main content section*/
section .section-content{
    flex: 4;
    padding: 1em;
}
/*Section-content for Work section specific
Grid layout 3x3*/
#work-content{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 1em;
}
/*Enlarged work grid setting*/
#first-enlarge{
    grid-column: 1/3;
    grid-row: 1/3;
}
#second-enlarge{
    grid-column: 2/4;
    grid-row: 3/5;
}
/*Each work as grid elements inside of work content*/
#work-content>a{
    position: relative;
    border: 1em solid white;
    border-radius: 10px;
    transition: var(--transition);
}
/*Hover effect on grid element
adding box-shadow and thinner border*/
#work-content>a:hover{
    box-shadow: 0px 0px 10px black;
}
/*img inside each work
filter set*/
#work-content>a>img{
    width:100%;
    height: 100%;
    border-radius: 10px;
    filter: blur(4px) brightness(50%) grayscale(1);
    transition: var(--transition);
}
/*Hover effect on grid element
change its child img's filter to default*/
#work-content>a:hover>img{
    filter: none;
    transform: scale(1.02);
}
/*Title inside each work*/
#work-content>a>h3{
    position: absolute;
    display: inline;
    padding: 1vw;
    top: 1vw;
    left: 1vw;
    border-radius: 10px;
    background-image: var(--gray-black-bgcolor);
    color: var(--header-bar-txtcolor);
    transition: var(--transition);
}
/*Hover effect on grid element
change its child title background and text color*/
#work-content>a:hover>h3{
    background-image: var(--gray-white-bgcolor);
    color:black;
    transform: scale(1.2);
}
/*Media Query for smaller devices
Adjust header font sizes
remove figure and h2 for a cleaner layout
change main section to flex column display
Remove filter for work img*/
@media screen and (max-width:768px) {
    header h1{
        font-size: 5vw;
    }
    nav>a{
        font-size: 3vw;
    }
    figure{
        display: none;
    }
    main>h2{
        display: none;
    }
    main>section{
        flex-direction: column;
        padding-right: 0;
    }
    section .section-title{
        text-align: center;
        border-right: none;
        border-bottom: 7px solid black;
    }
    #work-content{
        display: flex;
        flex-direction: column;
    }
    #work-content>a>img{
        filter:none;
    }
}