/*Universal Selector
Smooth scroll added for better navigation scroll effect*/
*{
    scroll-behavior: smooth;
    --title-font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --header-bar-bgcolor: linear-gradient(#ADB1B1 , black);
    --header-bar-txtcolor: white;
    --main-content-bgcolor: #EAEAEA;
}
:root{}
body{
    width: 100%;  
}
/*Header*/
/*Fixed position on the top of page
Highest z-index to make it always in front of other elements
Flex layout with 2 elements h1/nav inside*/
header{
    width: 100%;
    position: fixed;
    z-index: 3;
    display:flex;
    justify-content: space-between;
    background-image: var(--header-bar-bgcolor);
}
/*Header Main-Icon
Flex box #1 inside Header*/
header h1{
    flex: 1;
    font-family: var(--title-font);
    font-size: 2.5em;
    padding-left: 1em;
    padding-top: 0.1em;
    
}
/*Clearing Hyperlink text-decro for header-icon*/
header h1 a{
    color: var(--header-bar-txtcolor);
    text-decoration: none;
}
/*Header Navigation bar
Flex box #2 inside Header
Flex layout with nav button as elements*/
header nav{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
/*Flex elements for header nav
Hyperlink text-decro cleared*/
nav a{
    flex: 1;
    text-align: center;
    font-family: var(--title-font);
    font-size: 1.5em;
    text-decoration: none;
    padding: 0.5em;
    color: var(--header-bar-txtcolor);
}
/*Main background image below header
Fixed position
Lowest z-index so main content can scroll over it*/
figure{
    position: fixed;
    top:50px;
    width: 100%;
    height: 1000px;
    background-image: url(../images/filler.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    z-index: 1;
}

/*Main content
Flex layout with h2(header) and sections as elements
z-index set above figure and below header
*/
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
/*Main content header
Flex box element of main content
Disable user-select
*/
main h2{
    padding-top: 3em;
    padding-bottom: 5em;
    text-align: center;
    font-family: var(--title-font);
    font-size: 5em;
    flex: 1;
    color: white;
    user-select: none;
}
/*Main content section anker offset
Purpose to correctly position the sections when click on its correspondent navigation*/
main .anker-offset{
    position: relative;
    top: -2em;
}
/*Main content section
Flex box element of main content
Flex layout contains section-title and section-content*/
main section{
    padding-top: 1em;
    flex: 1;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-content-bgcolor);
}
/*Main content section-title
Flex box element for main content section
Disable user-select*/
section .section-title{
    flex: 1;
    text-align: right;
    font-family: var(--title-font);
    border-right: 7px solid black;
    font-size: 2em;
    padding: 1em;
    user-select: none;
}
/*Main content section-content
Flex box element for main content section*/
section .section-content{
    flex: 4;
    padding: 1em;
}
/*Section-content for Work section specific
Grid layout*/
#work-content{
    display: grid;
}